---
- name: Enable Hubble Observability | Activer l'observabilité Hubble
  hosts: k8s_nodes
  become: yes
  tasks:
    - name: Enable Hubble in Cilium | Activer Hubble dans Cilium
      shell: |
        export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
        cilium hubble enable --ui
      register: hubble_out

    - name: Wait for Hubble to be ready | Attendre que Hubble soit prêt
      shell: |
        export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
        cilium status --wait
      
    - name: Install Hubble CLI | Installer le CLI Hubble
      shell: |
        HUBBLE_VERSION=$(curl -s https://raw.githubusercontent.com/cilium/hubble/master/stable.txt)
        curl -L --fail --remote-name-all https://github.com/cilium/hubble/releases/download/${HUBBLE_VERSION}/hubble-linux-amd64.tar.gz
        tar xzvfC hubble-linux-amd64.tar.gz /usr/local/bin
        rm hubble-linux-amd64.tar.gz
      args:
        creates: /usr/local/bin/hubble
